<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<table>
  <thead>
    <tr>
      <th>Device Id</th>
      <th>Resource Path</th>
      <th>Count</th>
      <th>Average value</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.device_id %></td>
        <td><%= r.path %></td>
        <td><%= r.count %></td>
        <td><%= r.avg %></td>
      </tr>
  <% }); %>
  </tbody>
</table>
</div>

</body>
</html>
